#header{
    height: 3em;
    background: #3b3736;
    background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
    background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
    background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
    background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
    background-image:         linear-gradient(top, #4b4746, #3b3736);
}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.inner {
    margin-top: 3em;
    width: 100%;
    -webkit-transition: margin 0.3s;
       -moz-transition: margin 0.3s;
        -ms-transition: margin 0.3s;
         -o-transition: margin 0.3s;
            transition: margin 0.3s;
}

.inner.show-menu {
    margin-left: 75%;
}

.inner.show-menu nav {
    left: 0;
}

nav{
    width: 75%;
    left: -75%;
    position: fixed;
    height: 90%;
    background: #3b3736;
    overflow: scroll;
    -webkit-transition: margin 0.5s;
       -moz-transition: margin 0.5s;
        -ms-transition: margin 0.5s;
         -o-transition: margin 0.5s;
            transition: margin 0.5s;
}

#nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #777;
}
#nav-list a i{
    font-size:24px;
    margin-right: 10px;
    vertical-align: middle;
}
#nav-list a{
    vertical-align: middle;
    text-decoration: none;
    color: #F91DC8;
    padding: 1em 0 1em 5%;
    display: block;
    border-bottom: 1px solid #777;
    height: 4em;
    background: #3b3736;
    background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
    background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
    background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
    background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
    background-image:         linear-gradient(top, #4b4746, #3b3736);
} 
#nav-list a:hover {
    background: #4b4746;
    background-image: -webkit-linear-gradient(top, #5b5756, #4b4746);
    background-image:    -moz-linear-gradient(top, #5b5756, #4b4746);
    background-image:     -ms-linear-gradient(top, #5b5756, #4b4746);
    background-image:      -o-linear-gradient(top, #5b5756, #4b4746);
    background-image:         linear-gradient(top, #5b5756, #4b4746);
}

@media screen and (min-width: 48em) {
    nav {
        width: 30%;
        left: 0;
    }

    .inner.show-menu nav {
        left: 0;
    }

    .inner {
        margin-left: 30%;
    }
    .inner.show-menu {
        margin-left: 30%;
    }
    .main-content{
        width: 70%;
    }
}



/*My CustomCode*/
a.toggle-menu{
    font-size: 32px;
    color:#F91DC8; 
    vertical-align: middle; 
}

#spinner{
    position: relative;
    margin-top: 0;
}